<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387722497265-ac64u4jku6cdvnenk014v07ovt0v6t4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387722497265-ac64u4jku6cdvnenk014v07ovt0v6t4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBYqTz9paUtsgTN2jzJEFxjUuTl-6IK7_o</string>
	<key>GCM_SENDER_ID</key>
	<string>387722497265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankLite</string>
	<key>PROJECT_ID</key>
	<string>bank-lite-demo-b67f6</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-lite-demo-b67f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387722497265:ios:af74c4ed56ef79799b2d50</string>
</dict>
</plist>